<br>

<hr>

<div class="row">
	<div class="col-md-12">
		<h3>Search GitHub Users</h3>
		<form>
			<div class="form-group">
				<input 
					type="text" 
					name="username"
					class="form-control" 
					placeholder="Enter GitHub Username..."
					[(ngModel)]="username"
					(keyup)="searchUsers()"
				>
			</div>
		</form>
	</div>
</div>

<hr>

<div class="card" *ngIf="user">
	<h4 class="card-header">{{ user.name }}</h4>
	<div class="card-body">
		<div class="row">
			<div class="col-md-4">
				<img src="{{ user.avatar_url }}" alt="profile image" class="img-thumbnail">
				<br><br>
			<a href="{{ user.html_url }}" target="_blank" class="btn btn-primary btn-block">Profile</a>
			</div>
			<div class="col-md-8">
				<div class="stats">
					<span class="btn btn-primary">{{ user.public_repos }} Public Repos</span>
					<span class="btn btn-success">{{ user.public_gists }} Public Gists</span>
					<span class="btn btn-danger">{{ user.followers }} Followers</span>
					<span class="btn btn-info">{{ user.following }} Following</span>
				</div>
				<br>
			<ul class="list-group">
				<li class="list-group-item"><strong>Username: </strong>{{ user.login }}</li>
				<li class="list-group-item"><strong>Location: </strong>{{ user.location }}</li>
				<li class="list-group-item"><strong>Company: </strong>{{ user.company }}</li>
				<li class="list-group-item"><strong>Email: </strong>{{ user.email }}</li>
				<li class="list-group-item"><strong>Blog: </strong>{{ user.blog }}</li>
				<li class="list-group-item"><strong>Member Since: </strong>{{ user.created_at }}</li>
				<li class="list-group-item"><strong>Ready for hire: </strong>{{ user.hireable }}</li>
			</ul>
			</div>
		</div>
  	</div>

	<div class="card">
		<h4 class="card-header">{{ user.name + "'s" }} Repositories</h4>
		<div class="card-body">
			<div *ngFor="let repo of repos">
				<div class="row">
					<div class="col-md-9">
						<h4><a href="{{ repo.html_url }}" target="_blank">{{ repo.name }}</a></h4>
						<p>{{ repo.description }}</p>
					</div>
					<div class="col-md-3">
						<span class="btn btn-primary">{{ repo.watchers }} Watchers</span>
						<span class="btn btn-success">{{ repo.forks }} Forks</span>
					</div>
				</div>
				<hr>
			</div>
		</div>
	</div>
</div>



